body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    transition: background-color 0.4s ease;
}

.card {
    width: 420px;
    margin: 50px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    text-align: center;
}

input {
    width: 80%;
    padding: 8px;
    margin: 10px 0;
    font-size: 15px;
}

button {
    padding: 10px 25px;
    background: #333;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: black;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 5px;
}

#mensagem {
    font-size: 20px;
    font-weight: bold;
}

.cheque {
    display: none;
    margin-top: 20px;
    padding: 15px;
    background: #e6ffe6;
    border: 2px dashed green;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}
